html
head
  title Your thing
body
  if thing
    span Your thing is called #{thing.name}
    br
    span #{thing.name} is #{thing.age} years old.
    br
    span #{thing.name} is 
    span(style={color: thing.color}) #{thing.color}
  else
    span This thing does not exist :-(

  br
  a(href="/things") Back to other things